header{
    background-color: rgb(13, 240, 70);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0rem 0rem 2rem 0rem;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    font-family:fantasy;
}
.header-text{
   display: block;
   text-align: left;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.projet{
   display: flex; 
}
.logo-sena{
    width: 60px;
    margin-right: 10px;
}
.container-projet{
    margin-left: 10px;
    margin: 0rem 0rem 3rem ;
}
.proycto1{
    display: flex;
    width:80%;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(0, 202, 10);
    margin:0rem 0rem 2rem;
}
.proycto2{
    display: flex;
    width:80%;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(0, 202, 10);
    margin:0rem 0rem 2rem;
}
.proycto3{
    display: flex;
    width:80%;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(0, 202, 10);
}
.Referencias{
    display: flex;

}
.container-referencias{
    display: flex;
    justify-content:space-around;
}
.Referencia1{
    width: 30%;
    border-color: black;
    border: 1px solid;
    border-radius: 10px;
    font-size: 11px;
    text-align: center;
    background-color: aliceblue;
    margin-left: 5px;
    margin: 0rem 0rem 2rem;
}
.Referencia2{
    width: 30%;
    border-color: black;
    border: 1px solid;
    border-radius: 10px;
    font-size: 11px;
    text-align: center;
    background-color: aliceblue;
    margin-left: 5px;
    margin: 0rem 0rem 2rem;
}
.Referencia3{
    width: 30%;
    border-color: black;
    border: 1px solid;
    border-radius: 10px;
    font-size: 11px;
    text-align: center;
    background-color: aliceblue;
    margin-left: 5px;
    margin: 0rem 0rem 2rem;
}
.container-experiencia{
    display: flex;
   
}
.img-container{
    position: relative;
    margin-right: 30px;
}
.img-container-my{
    width: 300%;
    position: relative;
    margin-left: 70px;

}
.img-container-html{
    width: 300%;
}
.img-container-jav{
    width: 90%;
    margin-left: 30px;
}
.img-{
    width:100%;
}
.img-css{
 width: 200%;
}
.img-my{
    width: 50%;
}
.img-jav{
    width: 320%;
}

.progress-html{
    width: 250%;
    margin-right: 10px;
}
.progress-css{
    width: 190%;
    margin-right: 10px;
}
.progresshtml{
    width: 80%;
}
.progress{
    width: 70%;
}
hr{
background-color: rgb(126, 247, 90);
height: 9px;
width: 99%;
border-radius: 5px;
}